@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
h1 {
  color: orange;
  text-align: left;
  letter-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;

}

p {
  color: #2a2a2a;
  font-size: 10px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
